[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cumulusci = "==3.86.1"
chromedriver-binary = "==124.0.6367.155.0"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
preinstall="bash ./setup.sh"
