[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cumulusci = "==3.86.0"
chromedriver-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
preinstall="bash ./setup.sh"
